<h1>Product Page</h1>
<ul>
  <li>Id: <%= product.id %></li>
  <li>Model: <%= product.model %></li>
  <li>Price: <%= product.price %></li>
  <li>Comment: <%= product.comment || "" %></li>
</ul>
<form id="comment-form">
  <input type="text" id="comment" placeholder="Add Comment">
  <button type="submit">Save</button>
</form>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.11.0/axios.min.js"></script>
<script>
const form = document.getElementById("comment-form");

form.addEventListener("submit", function(e) {
    e.preventDefault();

    
    const comment = document.getElementById("comment").value;

    
    axios.post("/pr/com", {
        id: <%= product.id %>, 
        comment: comment    
    })
    .then(res => {
        console.log(res.data);
        location.reload(); 
    })
    .catch(err => console.error(err));
});
</script>
